h1.round {
  font-family: 'Jura', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #457BF5;
  text-align: center;
  border: 2px solid #457BF5;
  border-radius: 5px;
  background-color: white;
};
